node_modules
dist
.cred
.prettierrc
.eslintrc
.gitlab-ci.bak
/upload
/docs/json
/docs/index.html
/yarn-error.log
/yarn.lock
/lerna-debug.log
admin/project/static/admin/classic/resources/Admin-all_1.css
admin/project/static/admin/classic/resources/Admin-all_2.css
admin/project/static/admin/classic/resources/Admin-all_3.css
.vscode
delme/update_transactions.sql
!/admin/core/node_modules
delme/curl_request_example.txt
delme/creds.txt
test.js
delme/b2b_dump.tar.gz
delme/b2b_logs.sql
delme/dump_data_only.sh
/delme
delme/curl_request_example.txt
delme/curl_request_example.txt
