{"openapi":"3.0.0","info":{"title":"Falcontransfer","description":"Falcontransfer Payment System","version":"1.0.0"},"host":"api.falcontransfer","servers":[{"url":"https://api.falcontransfer.com/api","description":"Production"}],"tags":[{"name":"account-service","description":""},{"name":"auth-service","description":""},{"name":"merchant-service","description":""},{"name":"kyc-service","description":""},{"name":"callback-service","description":""},{"name":"currency-service","description":""},{"name":"statement-service","description":""},{"name":"support-service","description":""}],"paths":{"/rest/account-service/create":{"post":{"tags":["account-service"],"summary":"Create new account","description":" Create user's account. Send currency abbreviation.","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Create new account","schema":{"type":"object","example":{"acc_name":"account1","currency":"USD"},"properties":{"acc_name":{"type":"string"},"currency":{"type":"string"}},"required":["acc_name","currency"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"id":"728af3a0-b7d8-11eb-baf5-b999d153328d","acc_no":"1344117105678673523","acc_name":"account1","easy_acc_name":"RF00000720","currency":"USD","owner":"7142e340-b7d8-11eb-9408-8d5f12bf0003","balance":0,"status":1,"negative":false,"ctime":"2021-05-18T12:56:22.732Z","mtime":"2021-05-18T12:56:22.747Z","removed":0,"maker":"707ecff0-b7d8-11eb-871b-230c8478d490","active":null,"stime":null,"ltime":null,"signobject":null,"overdraft":0,"on_top":false}}}}}}}},"/rest/account-service/getAllWalletsAmountInSameCurrency":{"post":{"tags":["account-service"],"summary":"All wallets amounts in same currency","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"All wallets amounts in same currency","schema":{"type":"object","example":{"currency":"EUR"},"properties":{"currency":{"type":"string"}},"required":["currency"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"currency":"EUR","accounts":[{"id":"728af3a0-b7d8-11eb-baf5-b999d153328d","amount":0},{"id":"728e00e0-b7d8-11eb-baf5-b999d153328d","amount":0}]}}}}}}}},"/rest/account-service/getBusinessTypes":{"post":{"tags":["account-service"],"summary":"Get business type","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get business type","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":[{"id":"779c7126-27a0-11ea-978f-2e728ce88125","type":"Type"}]}}}}}}},"/rest/account-service/getUserAccounts":{"post":{"tags":["account-service"],"summary":"Get user's accounts","description":" Getting user's balance from all accounts it(\"Get user's balance\", async () => {\n      let data = {\n        header: {\n          id: 111,\n          version: config.apiVersion,\n          service: \"account-service\",\n          method: \"getAllBalance\",\n          token: userToken\n        },\n        data: {}\n      };\n\n      const res = await sendRequest(data);\n      res.body.header.should.have.deep.property(\"status\", \"OK\");\n    });\n      Getting user's accounts","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get user's accounts","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":[{"id":"728af3a0-b7d8-11eb-baf5-b999d153328d","acc_no":"1344117105678673523","balance":"0","currency":"USD","acc_name":"account1","easy_acc_name":"RF00000720"},{"id":"728e00e0-b7d8-11eb-baf5-b999d153328d","acc_no":"8481036217849326498","balance":"0","currency":"USD","acc_name":"account1","easy_acc_name":"RF00000721"}]}}}}}}},"/rest/account-service/getUserAccount":{"post":{"tags":["account-service"],"summary":"Get user account","description":" Getting one user account","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get user account","schema":{"type":"object","example":{"id":"728af3a0-b7d8-11eb-baf5-b999d153328d"},"properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"id":"728af3a0-b7d8-11eb-baf5-b999d153328d","acc_no":"1344117105678673523","easy_acc_name":"RF00000720","acc_name":"account1","currency":"USD","owner":"7142e340-b7d8-11eb-9408-8d5f12bf0003","overdraft":0,"balance":0,"status":1,"negative":false,"ctime":"2021-05-18T12:56:22.732Z","mtime":"2021-05-18T12:56:22.772Z","stime":null,"ltime":null,"removed":0,"signobject":null,"maker":"707ecff0-b7d8-11eb-871b-230c8478d490"}}}}}}}},"/rest/account-service/updateUserAccount":{"post":{"tags":["account-service"],"summary":"Update user account","description":" Update user account","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Update user account","schema":{"type":"object","example":{"id":"728af3a0-b7d8-11eb-baf5-b999d153328d","acc_name":"new_name"},"properties":{"id":{"type":"string"},"acc_name":{"type":"string"}},"required":["id","acc_name"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/account-service/createIban":{"post":{"tags":["account-service"],"summary":"Create iban with an existing bank","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Create iban with an existing bank","schema":{"type":"object","example":{"iban":"iban1","swift":"qwe","currency":"USD","files":[{"name":"invoice.png","data":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8yNy8xMxoI2XgAAAKSSURBVHic7dyxjsIwFABBfOL/f9lXXIu2cC44kJk+wlisHsVTxpxzPoCXfnYfAK5MIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AHczxlh+1ov4388EgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgWCbd9GRrdx3fqYN4GNMEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgXDrdfcdK+ur6+erZ119zpr8HxMEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEwphfsrb57s3cT7o2d7POBIEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAiXW3e3mn0Nn/Ri7zOZIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBALhtGXFb1863LHMt+IO93LmdzRBIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIDx3H+BujmyefsoG8Tc5LZDVH4IfwT1d8b28j4e/WJAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AP9ljLH7CJfkXo4xQSAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBMKYc87dh4CrMkEgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCD8AkUtP407XiL1AAAAAElFTkSuQmCC"}]},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/account-service/getUserIbans":{"post":{"tags":["account-service"],"summary":"Get user's ibans","description":" Getting user's ibans","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get user's ibans","schema":{"type":"object","example":{"start":0,"limit":15},"properties":{"start":{"type":"number"},"limit":{"type":"number"}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"ibans":[{"id_iban":"729aab10-b7d8-11eb-baf5-b999d153328d","iban":"iban1","active":false,"bank_name":"bank1","bank_swift":"qwe","zip_addr1":null,"city_addr1":null,"street_addr1":null,"house_addr1":null,"apartment_addr1":null,"zip_addr2":null,"city_addr2":null,"street_addr2":null,"house_addr2":null,"apartment_addr2":null,"bank_country":"AF","bank_code":null},{"id_iban":"729ddf60-b7d8-11eb-baf5-b999d153328d","iban":"iban2","active":false,"bank_name":"bank3","bank_swift":"zxc","zip_addr1":null,"city_addr1":null,"street_addr1":null,"house_addr1":null,"apartment_addr1":null,"zip_addr2":null,"city_addr2":null,"street_addr2":null,"house_addr2":null,"apartment_addr2":null,"bank_country":null,"bank_code":null}],"count":2}}}}}}}},"/rest/account-service/deleteIban":{"post":{"tags":["account-service"],"summary":"Delete user iban","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Delete user iban","schema":{"type":"object","example":{"iban_id":"729aab10-b7d8-11eb-baf5-b999d153328d"},"properties":{"iban_id":{"type":"string"}},"required":["iban_id"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/account-service/getBanks":{"post":{"tags":["account-service"],"summary":"Getting banks","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Getting banks","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":[{"id":"70908330-b7d8-11eb-871b-230c8478d490","name":"bank1","shortname":null,"country":"AF","swift":"qwe","notes":null,"corr_bank":null,"corr_swift":null,"corr_acc":null,"active":false,"zip_addr1":null,"city_addr1":null,"street_addr1":null,"house_addr1":null,"apartment_addr1":null,"zip_addr2":null,"city_addr2":null,"street_addr2":null,"house_addr2":null,"apartment_addr2":null,"code":null,"ctime":"2021-05-18T12:56:19.427Z","mtime":"2021-05-18T12:56:19.427Z","removed":null,"signobject":null,"maker":"707ecff0-b7d8-11eb-871b-230c8478d490"}]}}}}}}},"/rest/account-service/deposit":{"post":{"tags":["account-service"],"summary":"Deposit money","description":" Deposit money into the system  ref_id is optional, service returns generated ref_id if you didn't send it.  acc_no -- number of user's account in the system (optional)  if there isn't acc_no in a request, money will deposit on first activated account","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Deposit money","schema":{"type":"object","example":{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_no":"1344117105678673523","amount":100,"currency":"USD","country":"UK","description":"DEPOSIT DETAILS","options":{"iban":"123","swift":"AAA"},"files":[{"name":"invoice.png","data":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8yNy8xMxoI2XgAAAKSSURBVHic7dyxjsIwFABBfOL/f9lXXIu2cC44kJk+wlisHsVTxpxzPoCXfnYfAK5MIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AHczxlh+1ov4388EgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgWCbd9GRrdx3fqYN4GNMEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgXDrdfcdK+ur6+erZ119zpr8HxMEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEwphfsrb57s3cT7o2d7POBIEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAiXW3e3mn0Nn/Ri7zOZIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBALhtGXFb1863LHMt+IO93LmdzRBIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIDx3H+BujmyefsoG8Tc5LZDVH4IfwT1d8b28j4e/WJAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AP9ljLH7CJfkXo4xQSAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBMKYc87dh4CrMkEgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCD8AkUtP407XiL1AAAAAElFTkSuQmCC"}]},"properties":{"ref_id":{"anyOf":[{"type":"number"},{"type":"string"}]},"acc_no":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"country":{"type":"string"},"description":{"type":"string"},"options":{"type":"object","properties":{"iban":{"type":"string"},"swift":{"type":"string"},"required":["iban","swift"]}},"files":{"type":"array","items":{"type":"object","name":{"type":"string"},"data":{"type":"string"}}}},"required":["acc_no","amount","currency","country"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"otpRequred":true,"operationId":"f1f7f89e-3ff9-4087-a3af-fe27e6af8926","transport":"test","operation":{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_no":"1344117105678673523","amount":100,"currency":"USD","country":"UK","description":"DEPOSIT DETAILS","options":{"iban":"123","swift":"AAA"},"files":[{"name":"invoice.png","code":"72a3f9e0-b7d8-11eb-871b-230c8478d490","size":822}]}}}}}}}}},"/rest/account-service/realmtransfer":{"post":{"tags":["account-service"],"summary":"Transfer","description":" Transfer between two accounts  ref_id is optional, service returns generated ref_id if you didn't send it.","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Transfer","schema":{"type":"object","example":{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_src":"1344117105678673523","acc_dst":"8481036217849326498","amount":50,"currency":"USD","country":"UK"},"properties":{"ref_id":{"anyOf":[{"type":"number"},{"type":"string"}]},"acc_src":{"type":"string"},"acc_dst":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"country":{"type":"string"}},"required":["acc_src","acc_dst","amount"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"otpRequred":true,"operationId":"d83e5e20-82c9-4a78-8e50-34ca7718aed4","transport":"test","operation":{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_src":"1344117105678673523","acc_dst":"8481036217849326498","amount":50,"currency":"USD","country":"UK"}}}}}}}}},"/rest/account-service/withdrawal":{"post":{"tags":["account-service"],"summary":"Withdrawal money","description":" Withdrawal money outside  ref_id is optional, service returns generated ref_id if you didn't send it.  acc_no -- number of user's account in the system  acc_no -- number of user's account in the system","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Withdrawal money","schema":{"type":"object","example":{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_no":"1344117105678673523","acc_tech":"30000002","description":"IBAN: GB29 NWBK 6016 1331 9268 19","amount":10,"currency":"USD","country":"UK"},"properties":{"ref_id":{"anyOf":[{"type":"number"},{"type":"string"}]},"acc_no":{"type":"string"},"acc_tech":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"country":{"type":"string"}},"required":["acc_no","amount","currency"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"otpRequred":true,"operationId":"35b86d7f-08a5-417d-9585-dc8fddeb1ae8","transport":"test","operation":{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_no":"1344117105678673523","acc_tech":"30000002","description":"IBAN: GB29 NWBK 6016 1331 9268 19","amount":10,"currency":"USD","country":"UK"}}}}}}}}},"/rest/account-service/refund":{"post":{"tags":["account-service"],"summary":"Withdrawal not allowed money","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Withdrawal not allowed money","schema":{"type":"object","example":{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","acc_no":"1344117105678673523","description":"REFUND 10","amount":10,"currency":"USD","country":"UK"},"properties":{"ref_id":{"anyOf":[{"type":"number"},{"type":"string"}]},"acc_no":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"country":{"type":"string"}},"required":["acc_no","amount","currency"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"owner":"7142e340-b7d8-11eb-9408-8d5f12bf0003","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","transfer_type":"refund","acc_src":"1344117105678673523","acc_dst":"30000001","amount":10,"description":"REFUND 10","options":{"details":"Refund money"},"output":{},"id":"7870f933-9b96-4d09-9f82-3b79f4d50c37"}}}}}}}},"/rest/account-service/getCurrency":{"post":{"tags":["account-service"],"summary":"Otp on withdrawal not allowed money","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Otp on withdrawal not allowed money","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":[{"abbr":"USD","amount":0,"value":1,"crypto":false},{"abbr":"EUR","amount":0,"value":2,"crypto":false},{"abbr":"BTC","amount":0,"value":1,"crypto":true},{"abbr":"USDT","amount":0,"value":0.8,"crypto":true}]}}}}}}},"/rest/account-service/getAccountsStatus":{"post":{"tags":["account-service"],"summary":"Withdrawal USDT","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Withdrawal USDT","schema":{"type":"object","example":{"accounts":["1344117105678673523","8481036217849326498"]},"properties":{"accounts":{"type":"array","items":{"type":"string"}}},"required":["accounts"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"heldIn":0,"heldOut":54,"insurance":0,"balance":"0190","currency":"USD"}}}}}}}},"/rest/account-service/getTransfers":{"post":{"tags":["account-service"],"summary":"Otp on withdrawal of USDT","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Otp on withdrawal of USDT","schema":{"type":"object","example":{"filters":{"status":"Pending","invoice_number":"","merchant_order_num":"","date_from":"2021-05-18T12:55:23.533Z","date_till":"2021-05-18T12:56:23.533Z","date_processed_from":"2021-05-18T12:55:23.533Z","date_processed_to":"2021-05-18T12:56:23.533Z"}},"properties":{"filters":{"type":"object","properties":{"status":{"type":"string"},"invoice_number":{"type":"string"},"merchant_order_num":{"type":"string"},"date_from":{"type":"string"},"date_till":{"type":"string"},"date_processed_from":{"type":"string"},"date_processed_to":{"type":"string"}}}},"required":["filters"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"count":4,"list":[{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","id":"7870f933-9b96-4d09-9f82-3b79f4d50c37","ctime":"2021-05-18T12:56:23.502Z","status":"success","src_account":"1344117105678673523","dst_account":"30000001","tx_status":1,"mtime":"2021-05-18T12:56:23.502Z","data":{"acc_no":"1344117105678673523","amount":10,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","country":"UK","options":{},"currency":"USD","description":"REFUND 10"},"amount_currency":"USD","commission":0,"commission_currency":"","total":null,"total_currency":"","tx":[[null,"USD","-"]]},{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","id":"6d84726a-052a-4e61-a949-e18e656cd2fb","ctime":"2021-05-18T12:56:23.406Z","status":"success","src_account":"1344117105678673523","dst_account":"20000000001","tx_status":1,"mtime":"2021-05-18T12:56:23.406Z","data":{"stime":"2021-05-18T12:56:23.381Z","acc_no":"1344117105678673523","amount":10,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","country":"UK","acc_tech":"30000002","currency":"USD","description":"IBAN: GB29 NWBK 6016 1331 9268 19"},"amount_currency":"USD","commission":null,"commission_currency":"USD","total":null,"total_currency":"USD","tx":[[null,"USD","-"],[null,"USD","-"]]},{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","id":"61017c7b-5655-4acc-b68d-57e497dbe08d","ctime":"2021-05-18T12:56:23.363Z","status":"pending","src_account":"1344117105678673523","dst_account":"20000000001","tx_status":1,"mtime":"2021-05-18T12:56:23.363Z","data":{"stime":"2021-05-18T12:56:23.339Z","amount":50,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_dst":"8481036217849326498","acc_src":"1344117105678673523","country":"UK","currency":"USD","description":"Transfer between self accounts"},"amount_currency":"USD","commission":null,"commission_currency":"USD","total":null,"total_currency":"USD","tx":[[null,"USD","-"],[null,"USD","-"]]},{"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","ctime":"2021-05-18T12:56:23.307Z","status":"success","src_account":"1344117105678673523","dst_account":"20000000001","tx_status":1,"mtime":"2021-05-18T12:56:23.307Z","data":{"files":[{"code":"72a3f9e0-b7d8-11eb-871b-230c8478d490","name":"invoice.png","size":822}],"stime":"2021-05-18T12:56:22.919Z","acc_no":"1344117105678673523","amount":100,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","country":"UK","invoice":{"no":"d5fdd566","bank":{"id":"707755e0-b7d8-11eb-871b-230c8478d490","code":null,"name":"bank","ctime":"2021-05-18T12:56:19.262Z","maker":null,"mtime":"2021-05-18T12:56:19.262Z","notes":"note","swift":"SWIFT","active":null,"country":"RU","removed":null,"corr_acc":"10001","corr_bank":"Corr Bank","shortname":"bnk","zip_addr1":null,"zip_addr2":null,"city_addr1":null,"city_addr2":null,"corr_swift":"CORSWIFT","signobject":null,"house_addr1":null,"house_addr2":null,"street_addr1":null,"street_addr2":null,"apartment_addr1":null,"apartment_addr2":null},"date":"5/18/2021","iban":"20002","user":{"fa":0,"id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","ip":[],"kyc":true,"wcc":null,"pass":"50c3523e8730624aa305cd937bfae919ba5aa08b","type":1,"ctime":"2021-05-18T12:56:20.596Z","email":"corp@test.ru","login":"corp@test.ru","mtime":"2021-05-18T12:56:21.336Z","notes":null,"phone":null,"realm":"707ecff0-b7d8-11eb-871b-230c8478d490","active":false,"cookie":true,"gender":null,"tariff":null,"chat_id":null,"country":"RU","keyword":null,"website":null,"birthday":"1989-12-31T21:00:00.000Z","legal_id":null,"ref_user":null,"activated":true,"addr1_zip":null,"addr2_zip":null,"avatar_id":"7190dc30-b7d8-11eb-871b-230c8478d490","countries":null,"last_name":"lastname","legalname":"Company","sumsub_id":null,"temp_pass":"","variables":{"_arr":[{"key":"EXCHANGE_FEE","value":2}]},"zip_addr1":null,"zip_addr2":null,"city_addr1":"city","city_addr2":null,"first_name":"firstname","signobject":{"shouldSign":true},"citizenship":null,"google_auth":false,"house_addr1":"house","house_addr2":null,"middle_name":"middle_name","activatecode":null,"base32secret":"NFPD44DEHY","street_addr1":"street","street_addr2":null,"addr1_address":null,"addr2_address":null,"otp_transport":"test","referral_link":null,"secret_answer":"Answer","pass_chng_date":"2021-05-18","apartment_addr1":"app","apartment_addr2":null,"payment_details":null,"person_function":null,"secret_question":"Question","legal_confirmation":true,"registred_using_bot":true},"amount":100,"details":"DEPOSIT OPERATION BANK DETAILS in USD","currency":"USD"},"options":{"iban":"123","swift":"AAA"},"currency":"USD","description":"DEPOSIT DETAILS","pdf_invoice":"72d82940-b7d8-11eb-baf5-b999d153328d"},"amount":null,"amount_currency":"USD","commission":null,"commission_currency":"USD","total":null,"total_currency":"USD","tx":[[null,"USD","+"],[null,"USD","-"]]}]}}}}}}}},"/rest/account-service/getXls":{"post":{"tags":["account-service"],"summary":"Get currency","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get currency","schema":{"type":"object","example":{"status":"","invoice_number":"","merchant_order_num":"","date_from":"2021-05-18T12:55:23.558Z","date_till":"2021-05-18T12:56:23.558Z","date_processed_from":"2021-05-18T12:55:23.558Z","date_processed_to":"2021-05-18T12:56:23.558Z"},"properties":{"status":{"type":"string"},"invoice_number":{"type":"string"},"merchant_order_num":{"type":"string"},"date_from":{"type":"string"},"date_till":{"type":"string"},"date_processed_from":{"type":"string"},"date_processed_to":{"type":"string"}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true,"code":"730fb400-b7d8-11eb-baf5-b999d153328d"}}}}}}}},"/rest/account-service/proxyTransfer":{"post":{"tags":["account-service"],"summary":"Get accounts status","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get accounts status","schema":{"type":"object","example":{"ref_id":123,"amount":10,"description":"proxy 10","src_currency":"USD","src_country":"UK","src_person":"Tester X","src_email":"testX@test.test","src_phone":"99999999999","src_bank":"Bank 1","src_swift":"AAA","src_bank_corr":"Bank corr","src_iban":"1111","dst_currency":"USD","dst_country":"UK","dst_person":"Tester Y","dst_email":"testY@test.test","dst_phone":"77777777777","dst_bank":"Bank 2","dst_swift":"BBB","dst_bank_corr":"Bank corr Y","dst_iban":"2222","files":[{"name":"passport","data":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8yNy8xMxoI2XgAAAKSSURBVHic7dyxjsIwFABBfOL/f9lXXIu2cC44kJk+wlisHsVTxpxzPoCXfnYfAK5MIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AHczxlh+1ov4388EgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgWCbd9GRrdx3fqYN4GNMEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgXDrdfcdK+ur6+erZ119zpr8HxMEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEwphfsrb57s3cT7o2d7POBIEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAiXW3e3mn0Nn/Ri7zOZIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBALhtGXFb1863LHMt+IO93LmdzRBIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIDx3H+BujmyefsoG8Tc5LZDVH4IfwT1d8b28j4e/WJAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AP9ljLH7CJfkXo4xQSAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBMKYc87dh4CrMkEgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCD8AkUtP407XiL1AAAAAElFTkSuQmCC"},{"name":"invoice","data":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8yNy8xMxoI2XgAAAKSSURBVHic7dyxjsIwFABBfOL/f9lXXIu2cC44kJk+wlisHsVTxpxzPoCXfnYfAK5MIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AHczxlh+1ov4388EgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgWCbd9GRrdx3fqYN4GNMEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgXDrdfcdK+ur6+erZ119zpr8HxMEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEwphfsrb57s3cT7o2d7POBIEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAiXW3e3mn0Nn/Ri7zOZIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBALhtGXFb1863LHMt+IO93LmdzRBIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIDx3H+BujmyefsoG8Tc5LZDVH4IfwT1d8b28j4e/WJAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AP9ljLH7CJfkXo4xQSAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBMKYc87dh4CrMkEgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCD8AkUtP407XiL1AAAAAElFTkSuQmCC"}]},"properties":{"ref_id":{"anyOf":[{"type":"number"},{"type":"string"}]},"amount":{"type":["number","null"]},"amount_result":{"type":["number","null"]},"description":{"type":"string"},"src_currency":{"type":"string"},"src_country":{"type":"string"},"src_person":{"type":"string"},"src_email":{"type":"string"},"src_phone":{"type":"string"},"src_bank":{"type":"string"},"src_swift":{"type":"string"},"src_bank_corr":{"type":"string"},"src_iban":{"type":"string"},"dst_currency":{"type":"string"},"dst_country":{"type":"string"},"dst_person":{"type":"string"},"dst_email":{"type":"string"},"dst_phone":{"type":"string"},"dst_bank":{"type":"string"},"dst_swift":{"type":"string"},"dst_bank_corr":{"type":"string"},"dst_iban":{"type":"string"},"files":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"data":{"type":"string"}}}},"kyc_applicantid":{"type":"string"},"kyc_service":{"type":"string"}},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"otpRequred":true,"operationId":"0b165327-710e-434a-957b-1e9d5faaa664","transport":"test","operation":{"ref_id":123,"amount":10,"description":"proxy 10","src_currency":"USD","src_country":"UK","src_person":"Tester X","src_email":"testX@test.test","src_phone":"99999999999","src_bank":"Bank 1","src_swift":"AAA","src_bank_corr":"Bank corr","src_iban":"1111","dst_currency":"USD","dst_country":"UK","dst_person":"Tester Y","dst_email":"testY@test.test","dst_phone":"77777777777","dst_bank":"Bank 2","dst_swift":"BBB","dst_bank_corr":"Bank corr Y","dst_iban":"2222","files":[{"name":"passport","code":"7311afd0-b7d8-11eb-871b-230c8478d490","size":822},{"name":"invoice","code":"7312c140-b7d8-11eb-871b-230c8478d490","size":822}]}}}}}}}}},"/rest/account-service/getTransferStatus":{"post":{"tags":["account-service"],"summary":"Get transfers (Status: Pending)","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get transfers (Status: Pending)","schema":{"type":"object","example":{"ref_id":123,"transfer_id":"dc17ce7a-5805-46f8-acc8-46f74590922e"},"properties":{"ref_id":{"anyOf":[{"type":"number"},{"type":"string"}]},"transfer_id":{"type":"string"}},"required":["transfer_id"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"id":"dc17ce7a-5805-46f8-acc8-46f74590922e","invoice_number":null,"held":true,"canceled":false,"ctime":"2021-05-18T12:56:23.694Z","mtime":"2021-05-18T12:56:23.711Z","amount":null,"ref_id":123}}}}}}}},"/rest/account-service/getTransactions":{"post":{"tags":["account-service"],"summary":"Get transfers (Status: Completed) and pagination","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get transfers (Status: Completed) and pagination","schema":{"type":"object","example":{},"properties":{"acc_src":{"type":"string"},"date_from":{"type":"string"},"date_to":{"type":"string"},"held":{"type":"boolean"},"canceled":{"type":"boolean"},"limit":{"type":"integer"},"start":{"type":"integer"}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"list":[{"id":"c639d244-273d-4096-b8ea-9a4eef41b018","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","tariff_id":"7079c6e0-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"transfer","index":0,"held":false,"hidden":false,"canceled":false,"amount":"100","exchange_amount":100,"acc_src":"30000001","acc_dst":"1344117105678673523","tariff":"deposit","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","description_src":"deposit client's money","description_dst":"deposit self money","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.311Z","mtime":"2021-05-18T12:56:23.311Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","event_name":"account-service:deposit","held":false,"canceled":false,"description":"DEPOSIT DETAILS","notes":null,"data":{"files":[{"code":"72a3f9e0-b7d8-11eb-871b-230c8478d490","name":"invoice.png","size":822}],"stime":"2021-05-18T12:56:22.919Z","acc_no":"1344117105678673523","amount":100,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","country":"UK","invoice":{"no":"d5fdd566","bank":{"id":"707755e0-b7d8-11eb-871b-230c8478d490","code":null,"name":"bank","ctime":"2021-05-18T12:56:19.262Z","maker":null,"mtime":"2021-05-18T12:56:19.262Z","notes":"note","swift":"SWIFT","active":null,"country":"RU","removed":null,"corr_acc":"10001","corr_bank":"Corr Bank","shortname":"bnk","zip_addr1":null,"zip_addr2":null,"city_addr1":null,"city_addr2":null,"corr_swift":"CORSWIFT","signobject":null,"house_addr1":null,"house_addr2":null,"street_addr1":null,"street_addr2":null,"apartment_addr1":null,"apartment_addr2":null},"date":"5/18/2021","iban":"20002","user":{"fa":0,"id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","ip":[],"kyc":true,"wcc":null,"pass":"50c3523e8730624aa305cd937bfae919ba5aa08b","type":1,"ctime":"2021-05-18T12:56:20.596Z","email":"corp@test.ru","login":"corp@test.ru","mtime":"2021-05-18T12:56:21.336Z","notes":null,"phone":null,"realm":"707ecff0-b7d8-11eb-871b-230c8478d490","active":false,"cookie":true,"gender":null,"tariff":null,"chat_id":null,"country":"RU","keyword":null,"website":null,"birthday":"1989-12-31T21:00:00.000Z","legal_id":null,"ref_user":null,"activated":true,"addr1_zip":null,"addr2_zip":null,"avatar_id":"7190dc30-b7d8-11eb-871b-230c8478d490","countries":null,"last_name":"lastname","legalname":"Company","sumsub_id":null,"temp_pass":"","variables":{"_arr":[{"key":"EXCHANGE_FEE","value":2}]},"zip_addr1":null,"zip_addr2":null,"city_addr1":"city","city_addr2":null,"first_name":"firstname","signobject":{"shouldSign":true},"citizenship":null,"google_auth":false,"house_addr1":"house","house_addr2":null,"middle_name":"middle_name","activatecode":null,"base32secret":"NFPD44DEHY","street_addr1":"street","street_addr2":null,"addr1_address":null,"addr2_address":null,"otp_transport":"test","referral_link":null,"secret_answer":"Answer","pass_chng_date":"2021-05-18","apartment_addr1":"app","apartment_addr2":null,"payment_details":null,"person_function":null,"secret_question":"Question","legal_confirmation":true,"registred_using_bot":true},"amount":100,"details":"DEPOSIT OPERATION BANK DETAILS in USD","currency":"USD"},"options":{"iban":"123","swift":"AAA"},"currency":"USD","description":"DEPOSIT DETAILS","pdf_invoice":"72d82940-b7d8-11eb-baf5-b999d153328d"},"amount":"100.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.307Z","mtime":"2021-05-18T12:56:23.307Z","maker":null,"signobject":null,"removed":null},"description":"DEPOSIT DETAILS","status":4},{"id":"19508329-27b7-458a-a281-d67f59801a3c","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","tariff_id":"7079c6e0-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"fee","index":1,"held":false,"hidden":false,"canceled":false,"amount":"5","exchange_amount":5,"acc_src":"1344117105678673523","acc_dst":"20000000001","tariff":"deposit","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","description_src":"fix fee for deposit","description_dst":"fix fee from user for deposit","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.316Z","mtime":"2021-05-18T12:56:23.316Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","event_name":"account-service:deposit","held":false,"canceled":false,"description":"DEPOSIT DETAILS","notes":null,"data":{"files":[{"code":"72a3f9e0-b7d8-11eb-871b-230c8478d490","name":"invoice.png","size":822}],"stime":"2021-05-18T12:56:22.919Z","acc_no":"1344117105678673523","amount":100,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","country":"UK","invoice":{"no":"d5fdd566","bank":{"id":"707755e0-b7d8-11eb-871b-230c8478d490","code":null,"name":"bank","ctime":"2021-05-18T12:56:19.262Z","maker":null,"mtime":"2021-05-18T12:56:19.262Z","notes":"note","swift":"SWIFT","active":null,"country":"RU","removed":null,"corr_acc":"10001","corr_bank":"Corr Bank","shortname":"bnk","zip_addr1":null,"zip_addr2":null,"city_addr1":null,"city_addr2":null,"corr_swift":"CORSWIFT","signobject":null,"house_addr1":null,"house_addr2":null,"street_addr1":null,"street_addr2":null,"apartment_addr1":null,"apartment_addr2":null},"date":"5/18/2021","iban":"20002","user":{"fa":0,"id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","ip":[],"kyc":true,"wcc":null,"pass":"50c3523e8730624aa305cd937bfae919ba5aa08b","type":1,"ctime":"2021-05-18T12:56:20.596Z","email":"corp@test.ru","login":"corp@test.ru","mtime":"2021-05-18T12:56:21.336Z","notes":null,"phone":null,"realm":"707ecff0-b7d8-11eb-871b-230c8478d490","active":false,"cookie":true,"gender":null,"tariff":null,"chat_id":null,"country":"RU","keyword":null,"website":null,"birthday":"1989-12-31T21:00:00.000Z","legal_id":null,"ref_user":null,"activated":true,"addr1_zip":null,"addr2_zip":null,"avatar_id":"7190dc30-b7d8-11eb-871b-230c8478d490","countries":null,"last_name":"lastname","legalname":"Company","sumsub_id":null,"temp_pass":"","variables":{"_arr":[{"key":"EXCHANGE_FEE","value":2}]},"zip_addr1":null,"zip_addr2":null,"city_addr1":"city","city_addr2":null,"first_name":"firstname","signobject":{"shouldSign":true},"citizenship":null,"google_auth":false,"house_addr1":"house","house_addr2":null,"middle_name":"middle_name","activatecode":null,"base32secret":"NFPD44DEHY","street_addr1":"street","street_addr2":null,"addr1_address":null,"addr2_address":null,"otp_transport":"test","referral_link":null,"secret_answer":"Answer","pass_chng_date":"2021-05-18","apartment_addr1":"app","apartment_addr2":null,"payment_details":null,"person_function":null,"secret_question":"Question","legal_confirmation":true,"registred_using_bot":true},"amount":100,"details":"DEPOSIT OPERATION BANK DETAILS in USD","currency":"USD"},"options":{"iban":"123","swift":"AAA"},"currency":"USD","description":"DEPOSIT DETAILS","pdf_invoice":"72d82940-b7d8-11eb-baf5-b999d153328d"},"amount":"100.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.307Z","mtime":"2021-05-18T12:56:23.307Z","maker":null,"signobject":null,"removed":null},"description":"DEPOSIT DETAILS","status":4},{"id":"f704585b-602d-4791-b67c-4b067acbd9c5","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","tariff_id":"7079c6e0-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"fee","index":2,"held":false,"hidden":true,"canceled":false,"amount":"1","exchange_amount":1,"acc_src":"1344117105678673523","acc_dst":"20000000001","tariff":"deposit","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","description_src":"percents fee for deposit","description_dst":"percents fee from user for deposit","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.319Z","mtime":"2021-05-18T12:56:23.319Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","event_name":"account-service:deposit","held":false,"canceled":false,"description":"DEPOSIT DETAILS","notes":null,"data":{"files":[{"code":"72a3f9e0-b7d8-11eb-871b-230c8478d490","name":"invoice.png","size":822}],"stime":"2021-05-18T12:56:22.919Z","acc_no":"1344117105678673523","amount":100,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","country":"UK","invoice":{"no":"d5fdd566","bank":{"id":"707755e0-b7d8-11eb-871b-230c8478d490","code":null,"name":"bank","ctime":"2021-05-18T12:56:19.262Z","maker":null,"mtime":"2021-05-18T12:56:19.262Z","notes":"note","swift":"SWIFT","active":null,"country":"RU","removed":null,"corr_acc":"10001","corr_bank":"Corr Bank","shortname":"bnk","zip_addr1":null,"zip_addr2":null,"city_addr1":null,"city_addr2":null,"corr_swift":"CORSWIFT","signobject":null,"house_addr1":null,"house_addr2":null,"street_addr1":null,"street_addr2":null,"apartment_addr1":null,"apartment_addr2":null},"date":"5/18/2021","iban":"20002","user":{"fa":0,"id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","ip":[],"kyc":true,"wcc":null,"pass":"50c3523e8730624aa305cd937bfae919ba5aa08b","type":1,"ctime":"2021-05-18T12:56:20.596Z","email":"corp@test.ru","login":"corp@test.ru","mtime":"2021-05-18T12:56:21.336Z","notes":null,"phone":null,"realm":"707ecff0-b7d8-11eb-871b-230c8478d490","active":false,"cookie":true,"gender":null,"tariff":null,"chat_id":null,"country":"RU","keyword":null,"website":null,"birthday":"1989-12-31T21:00:00.000Z","legal_id":null,"ref_user":null,"activated":true,"addr1_zip":null,"addr2_zip":null,"avatar_id":"7190dc30-b7d8-11eb-871b-230c8478d490","countries":null,"last_name":"lastname","legalname":"Company","sumsub_id":null,"temp_pass":"","variables":{"_arr":[{"key":"EXCHANGE_FEE","value":2}]},"zip_addr1":null,"zip_addr2":null,"city_addr1":"city","city_addr2":null,"first_name":"firstname","signobject":{"shouldSign":true},"citizenship":null,"google_auth":false,"house_addr1":"house","house_addr2":null,"middle_name":"middle_name","activatecode":null,"base32secret":"NFPD44DEHY","street_addr1":"street","street_addr2":null,"addr1_address":null,"addr2_address":null,"otp_transport":"test","referral_link":null,"secret_answer":"Answer","pass_chng_date":"2021-05-18","apartment_addr1":"app","apartment_addr2":null,"payment_details":null,"person_function":null,"secret_question":"Question","legal_confirmation":true,"registred_using_bot":true},"amount":100,"details":"DEPOSIT OPERATION BANK DETAILS in USD","currency":"USD"},"options":{"iban":"123","swift":"AAA"},"currency":"USD","description":"DEPOSIT DETAILS","pdf_invoice":"72d82940-b7d8-11eb-baf5-b999d153328d"},"amount":"100.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.307Z","mtime":"2021-05-18T12:56:23.307Z","maker":null,"signobject":null,"removed":null},"description":"DEPOSIT DETAILS","status":4},{"id":"3d268de4-d0b4-4159-8111-689a3341413f","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"61017c7b-5655-4acc-b68d-57e497dbe08d","tariff_id":"7078dc80-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"transfer","index":0,"held":true,"hidden":false,"canceled":false,"amount":"50","exchange_amount":50,"acc_src":"1344117105678673523","acc_dst":"8481036217849326498","tariff":"tariff 1","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","description_src":"transfer to another account","description_dst":"incoming transfer from another account","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.365Z","mtime":"2021-05-18T12:56:23.365Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"61017c7b-5655-4acc-b68d-57e497dbe08d","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","event_name":"account-service:realmtransfer","held":true,"canceled":false,"description":"Transfer between self accounts","notes":null,"data":{"stime":"2021-05-18T12:56:23.339Z","amount":50,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_dst":"8481036217849326498","acc_src":"1344117105678673523","country":"UK","currency":"USD","description":"Transfer between self accounts"},"amount":"50.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.363Z","mtime":"2021-05-18T12:56:23.363Z","maker":null,"signobject":null,"removed":null},"description":"Transfer between self accounts","status":3},{"id":"e6c1e6b8-fd03-4d92-83a0-ceb50a9f0ffa","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"61017c7b-5655-4acc-b68d-57e497dbe08d","tariff_id":"7078dc80-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"fee","index":1,"held":true,"hidden":false,"canceled":false,"amount":"4","exchange_amount":4,"acc_src":"1344117105678673523","acc_dst":"20000000001","tariff":"tariff 1","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","description_src":"fix fee for inner transfer","description_dst":"fix fee","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.367Z","mtime":"2021-05-18T12:56:23.367Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"61017c7b-5655-4acc-b68d-57e497dbe08d","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","event_name":"account-service:realmtransfer","held":true,"canceled":false,"description":"Transfer between self accounts","notes":null,"data":{"stime":"2021-05-18T12:56:23.339Z","amount":50,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","acc_dst":"8481036217849326498","acc_src":"1344117105678673523","country":"UK","currency":"USD","description":"Transfer between self accounts"},"amount":"50.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.363Z","mtime":"2021-05-18T12:56:23.363Z","maker":null,"signobject":null,"removed":null},"description":"Transfer between self accounts","status":3},{"id":"ae6cc72e-b1f7-42b5-894d-3409e3996c28","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"6d84726a-052a-4e61-a949-e18e656cd2fb","tariff_id":"707a8a30-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"transfer","index":0,"held":false,"hidden":false,"canceled":false,"amount":"10","exchange_amount":10,"acc_src":"1344117105678673523","acc_dst":"30000002","tariff":"withdrawal","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","description_src":"fix fee for  money","description_dst":"deposit client's money","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.408Z","mtime":"2021-05-18T12:56:23.408Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"6d84726a-052a-4e61-a949-e18e656cd2fb","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","event_name":"account-service:withdrawal","held":false,"canceled":false,"description":"IBAN: GB29 NWBK 6016 1331 9268 19","notes":null,"data":{"stime":"2021-05-18T12:56:23.381Z","acc_no":"1344117105678673523","amount":10,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","country":"UK","acc_tech":"30000002","currency":"USD","description":"IBAN: GB29 NWBK 6016 1331 9268 19"},"amount":"10.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.406Z","mtime":"2021-05-18T12:56:23.406Z","maker":null,"signobject":null,"removed":null},"description":"IBAN: GB29 NWBK 6016 1331 9268 19","status":4},{"id":"80f65b6b-1f1c-42a7-a60e-0dea1c1f58a2","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"6d84726a-052a-4e61-a949-e18e656cd2fb","tariff_id":"707a8a30-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"fee","index":1,"held":false,"hidden":false,"canceled":false,"amount":"1","exchange_amount":1,"acc_src":"1344117105678673523","acc_dst":"20000000001","tariff":"withdrawal","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","description_src":"withdrawal money","description_dst":"withdrawal client's money","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.410Z","mtime":"2021-05-18T12:56:23.410Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"6d84726a-052a-4e61-a949-e18e656cd2fb","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","event_name":"account-service:withdrawal","held":false,"canceled":false,"description":"IBAN: GB29 NWBK 6016 1331 9268 19","notes":null,"data":{"stime":"2021-05-18T12:56:23.381Z","acc_no":"1344117105678673523","amount":10,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","country":"UK","acc_tech":"30000002","currency":"USD","description":"IBAN: GB29 NWBK 6016 1331 9268 19"},"amount":"10.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.406Z","mtime":"2021-05-18T12:56:23.406Z","maker":null,"signobject":null,"removed":null},"description":"IBAN: GB29 NWBK 6016 1331 9268 19","status":4},{"id":"1a7dd430-65c3-4053-ac19-64b568d7c926","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"7870f933-9b96-4d09-9f82-3b79f4d50c37","tariff_id":"707b2670-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"refund","index":0,"held":false,"hidden":false,"canceled":false,"amount":"10","exchange_amount":10,"acc_src":"1344117105678673523","acc_dst":"30000001","tariff":"refund","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","description_src":"refund money","description_dst":"refund money","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.505Z","mtime":"2021-05-18T12:56:23.505Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"7870f933-9b96-4d09-9f82-3b79f4d50c37","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","event_name":"account-service:refund","held":false,"canceled":false,"description":"REFUND 10","notes":null,"data":{"acc_no":"1344117105678673523","amount":10,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","country":"UK","options":{},"currency":"USD","description":"REFUND 10"},"amount":"10.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.502Z","mtime":"2021-05-18T12:56:23.502Z","maker":null,"signobject":null,"removed":null},"description":"REFUND 10","status":4},{"id":"226b7a9e-54b8-4a62-bce0-ca96f9be2c3c","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"7870f933-9b96-4d09-9f82-3b79f4d50c37","tariff_id":"707b2670-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"fine","index":1,"held":false,"hidden":false,"canceled":false,"amount":"2","exchange_amount":2,"acc_src":"30000001","acc_dst":"20000000001","tariff":"refund","plan":"testplan","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","description_src":"штраф","description_dst":"штраф","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.508Z","mtime":"2021-05-18T12:56:23.508Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"7870f933-9b96-4d09-9f82-3b79f4d50c37","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","invoice_number":null,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","event_name":"account-service:refund","held":false,"canceled":false,"description":"REFUND 10","notes":null,"data":{"acc_no":"1344117105678673523","amount":10,"ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f7","country":"UK","options":{},"currency":"USD","description":"REFUND 10"},"amount":"10.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.502Z","mtime":"2021-05-18T12:56:23.502Z","maker":null,"signobject":null,"removed":null},"description":"REFUND 10","status":4},{"id":"e93c94f5-7793-41a8-baec-81448df34024","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"dc17ce7a-5805-46f8-acc8-46f74590922e","tariff_id":"707be9c0-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"transfer","index":0,"held":true,"hidden":false,"canceled":false,"amount":"10","exchange_amount":10,"acc_src":"30000001","acc_dst":"579610547106210842678","tariff":"proxy transfer","plan":"testplan","ref_id":"123","description_src":"deposit money","description_dst":"deposit money","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.696Z","mtime":"2021-05-18T12:56:23.696Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"dc17ce7a-5805-46f8-acc8-46f74590922e","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7315a770-b7d8-11eb-baf5-b999d153328d","invoice_number":null,"ref_id":"123","event_name":"account-service:proxyTransfer","held":true,"canceled":false,"description":"proxy 10","notes":null,"data":{"no":"44b7f829","files":[{"code":"7311afd0-b7d8-11eb-871b-230c8478d490","name":"passport","size":822},{"code":"7312c140-b7d8-11eb-871b-230c8478d490","name":"invoice","size":822}],"stime":"2021-05-18T12:56:23.646Z","amount":10,"ref_id":123,"dst_bank":"Bank 2","dst_iban":"2222","src_bank":"Bank 1","src_iban":"1111","dst_email":"testY@test.test","dst_phone":"77777777777","dst_swift":"BBB","src_email":"testX@test.test","src_phone":"99999999999","src_swift":"AAA","dst_person":"Tester Y","src_person":"Tester X","description":"proxy 10","dst_country":"UK","src_country":"UK","dst_currency":"USD","src_currency":"USD","dst_bank_corr":"Bank corr Y","src_bank_corr":"Bank corr"},"amount":"10.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.694Z","mtime":"2021-05-18T12:56:23.711Z","maker":null,"signobject":null,"removed":null},"description":"proxy 10","status":3},{"id":"a3dce8bc-8da6-4842-b60a-b1ccdffcaa2b","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"dc17ce7a-5805-46f8-acc8-46f74590922e","tariff_id":"707be9c0-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"fee","index":1,"held":true,"hidden":false,"canceled":false,"amount":"0","exchange_amount":0.1,"acc_src":"579610547106210842678","acc_dst":"20000000001","tariff":"proxy transfer","plan":"testplan","ref_id":"123","description_src":"1% fee","description_dst":"1% fee","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.700Z","mtime":"2021-05-18T12:56:23.700Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"dc17ce7a-5805-46f8-acc8-46f74590922e","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7315a770-b7d8-11eb-baf5-b999d153328d","invoice_number":null,"ref_id":"123","event_name":"account-service:proxyTransfer","held":true,"canceled":false,"description":"proxy 10","notes":null,"data":{"no":"44b7f829","files":[{"code":"7311afd0-b7d8-11eb-871b-230c8478d490","name":"passport","size":822},{"code":"7312c140-b7d8-11eb-871b-230c8478d490","name":"invoice","size":822}],"stime":"2021-05-18T12:56:23.646Z","amount":10,"ref_id":123,"dst_bank":"Bank 2","dst_iban":"2222","src_bank":"Bank 1","src_iban":"1111","dst_email":"testY@test.test","dst_phone":"77777777777","dst_swift":"BBB","src_email":"testX@test.test","src_phone":"99999999999","src_swift":"AAA","dst_person":"Tester Y","src_person":"Tester X","description":"proxy 10","dst_country":"UK","src_country":"UK","dst_currency":"USD","src_currency":"USD","dst_bank_corr":"Bank corr Y","src_bank_corr":"Bank corr"},"amount":"10.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.694Z","mtime":"2021-05-18T12:56:23.711Z","maker":null,"signobject":null,"removed":null},"description":"proxy 10","status":3},{"id":"ae38779a-39b2-40ee-afec-a46c1ad0cb0e","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","transfer_id":"dc17ce7a-5805-46f8-acc8-46f74590922e","tariff_id":"707be9c0-b7d8-11eb-871b-230c8478d490","plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","txtype":"transfer","index":2,"held":true,"hidden":false,"canceled":false,"amount":"10","exchange_amount":9.9,"acc_src":"579610547106210842678","acc_dst":"30000002","tariff":"proxy transfer","plan":"testplan","ref_id":"123","description_src":"withdrawal","description_dst":"withdrawal","currency_src":"USD","currency_dst":"USD","ctime":"2021-05-18T12:56:23.704Z","mtime":"2021-05-18T12:56:23.704Z","maker":null,"signobject":null,"removed":null,"transfer":{"id":"dc17ce7a-5805-46f8-acc8-46f74590922e","realm_id":"707ecff0-b7d8-11eb-871b-230c8478d490","user_id":"7315a770-b7d8-11eb-baf5-b999d153328d","invoice_number":null,"ref_id":"123","event_name":"account-service:proxyTransfer","held":true,"canceled":false,"description":"proxy 10","notes":null,"data":{"no":"44b7f829","files":[{"code":"7311afd0-b7d8-11eb-871b-230c8478d490","name":"passport","size":822},{"code":"7312c140-b7d8-11eb-871b-230c8478d490","name":"invoice","size":822}],"stime":"2021-05-18T12:56:23.646Z","amount":10,"ref_id":123,"dst_bank":"Bank 2","dst_iban":"2222","src_bank":"Bank 1","src_iban":"1111","dst_email":"testY@test.test","dst_phone":"77777777777","dst_swift":"BBB","src_email":"testX@test.test","src_phone":"99999999999","src_swift":"AAA","dst_person":"Tester Y","src_person":"Tester X","description":"proxy 10","dst_country":"UK","src_country":"UK","dst_currency":"USD","src_currency":"USD","dst_bank_corr":"Bank corr Y","src_bank_corr":"Bank corr"},"amount":"10.000000000000000000","status":1,"ctime":"2021-05-18T12:56:23.694Z","mtime":"2021-05-18T12:56:23.711Z","maker":null,"signobject":null,"removed":null},"description":"proxy 10","status":3}],"count":12}}}}}}}},"/rest/account-service/getAccountsByCurrency":{"post":{"tags":["account-service"],"summary":"Proxy transfer without KYC","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Proxy transfer without KYC","schema":{"type":"object","example":{"currency":"EUR"},"properties":{"currency":{"type":"string"}},"required":["currency"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":[]}}}}}}},"/rest/account-service/getTechAccByMerchant":{"post":{"tags":["account-service"],"summary":"Get transfer status","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get transfer status","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":[{"merchant":"7142e340-b7d8-11eb-9408-8d5f12bf0003","acc_name":null,"acc_no":"30000002","currency":"USD"},{"merchant":"7142e340-b7d8-11eb-9408-8d5f12bf0003","acc_name":null,"acc_no":"30000004","currency":"EUR"},{"merchant":"7142e340-b7d8-11eb-9408-8d5f12bf0003","acc_name":null,"acc_no":"30000006","currency":"BTC"}]}}}}}}},"/rest/account-service/removeOrder":{"post":{"tags":["account-service"],"summary":"Get merchant accounts by currency","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get merchant accounts by currency","schema":{"type":"object","example":{"id":"8375a68f-c6d6-47e8-b710-0c6a958ac555"},"properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/account-service/removeTransfer":{"post":{"tags":["account-service"],"summary":"Delete order from system","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Delete order from system","schema":{"type":"object","example":{"id":"505a8c07-8400-4dab-a3a5-532d786df25e"},"properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/account-service/withdrawalCustomExchangeRate":{"post":{"tags":["account-service"],"summary":"Delete transfer from system","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Delete transfer from system","schema":{"type":"object","example":{"ref_id":"8375a68f-c6d6-47e8-b710-0c6a958ac555","merchant":"5c56d454-4d34-4ab0-a047-f80fe6c4dece","acc_no":"1000004","acc_tech":"101","description":"","amount":100,"currency":"EUR","to_currency":"USDT","country":"RUS","use_stock":true},"properties":{"ref_id":{"anyOf":[{"type":"number"},{"type":"string"}]},"acc_no":{"type":"string"},"acc_tech":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"country":{"type":"string"},"custom_exchange_rate":{"type":"number"},"use_stock":{"type":"boolean"}},"required":["acc_no","amount","currency"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"otpRequred":true,"operationId":"4b6142b5-0665-4764-92ef-7969a52bd8c5","transport":"test","operation":{"ref_id":"8375a68f-c6d6-47e8-b710-0c6a958ac555","merchant":"5c56d454-4d34-4ab0-a047-f80fe6c4dece","acc_no":"1000004","acc_tech":"101","description":"","amount":100,"currency":"EUR","to_currency":"USDT","country":"RUS","use_stock":true}}}}}}}}},"/rest/auth-service/resendOtp":{"post":{"tags":["auth-service"],"summary":"Resend OTP","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Resend OTP","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/auth-service/checkOtp":{"post":{"tags":["auth-service"],"summary":"Otp on deposit money","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Otp on deposit money","schema":{"type":"object","example":{"otp":"111111"},"properties":{"otp":{"type":"string"}},"required":["otp"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"owner":"7142e340-b7d8-11eb-9408-8d5f12bf0003","ref_id":"a928565d-989c-482a-a0b5-e7f2ec79a6f6","transfer_type":"deposit","acc_src":"30000001","acc_dst":"1344117105678673523","amount":100,"description":"DEPOSIT DETAILS","invoice":{"iban":"20002","amount":100,"currency":"USD","details":"DEPOSIT OPERATION BANK DETAILS in USD","bank":{"id":"707755e0-b7d8-11eb-871b-230c8478d490","name":"bank","shortname":"bnk","country":"RU","swift":"SWIFT","notes":"note","corr_bank":"Corr Bank","corr_swift":"CORSWIFT","corr_acc":"10001","active":null,"zip_addr1":null,"city_addr1":null,"street_addr1":null,"house_addr1":null,"apartment_addr1":null,"zip_addr2":null,"city_addr2":null,"street_addr2":null,"house_addr2":null,"apartment_addr2":null,"code":null,"ctime":"2021-05-18T12:56:19.262Z","mtime":"2021-05-18T12:56:19.262Z","removed":null,"signobject":null,"maker":null}},"pdf_invoice":"72d82940-b7d8-11eb-baf5-b999d153328d","output":{},"id":"9839e646-7a1b-4329-86bb-bbd22c0b70a5","transactions":[{"parent_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","txtype":"transfer","hold":false,"hidden":false,"acc_src":"30000001","acc_dst":"1344117105678673523","description_src":"deposit client's money","description_dst":"deposit self money","amount":100,"tariff":"deposit","tariff_id":"7079c6e0-b7d8-11eb-871b-230c8478d490","tariff_plan":"testplan","tariff_plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","exchange_amount":100,"currency":"USD","exchange_currency":"USD"},{"parent_id":"7142e340-b7d8-11eb-9408-8d5f12bf0003","txtype":"fee","hold":false,"hidden":false,"acc_src":"1344117105678673523","acc_dst":"20000000001","description_src":"fix fee for deposit","description_dst":"fix fee from user for deposit","amount":5,"tariff":"deposit","tariff_id":"7079c6e0-b7d8-11eb-871b-230c8478d490","tariff_plan":"testplan","tariff_plan_id":"707e5ac0-b7d8-11eb-871b-230c8478d490","exchange_amount":5,"currency":"USD","exchange_currency":"USD"}]}}}}}}}},"/rest/auth-service/signup":{"post":{"tags":["auth-service"],"summary":"Valid realm token required","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"}],"requestBody":{"content":{"application/json":{"summary":"Valid realm token required","schema":{"type":"object","example":{"type":0,"email":"test@test.ru","first_name":"first_name","last_name":"last_name","middle_name":"middle_name","city":"city","street":"street","house":"house","apartment":"apartment","birthday":"01.01.1990","password":"Passw0rd!#"},"properties":{"type":{"type":"integer"},"email":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"middle_name":{"type":"string"},"birthday":{"type":"string","format":"datetime"},"country":{"type":"string"},"zip_addr1":{"type":"string"},"city_addr1":{"type":"string"},"street_addr1":{"type":"string"},"house_addr1":{"type":"string"},"apartment_addr1":{"type":"string"},"token":{"type":"string"},"phone":{"type":"string"},"captcha":{"type":"string"},"citizenship":{"type":"string"},"gender":{"type":"string"},"legal_id":{"type":"string"},"person_function":{"type":"string"}},"required":["type","email","first_name","last_name","middle_name","birthday","captcha"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}}}}}},"/rest/auth-service/getCaptcha":{"post":{"tags":["auth-service"],"summary":"Get captcha","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"}],"requestBody":{"content":{"application/json":{"summary":"Get captcha","schema":{"type":"object","example":{"token":"2f831f68-e33b-43f6-ba68-99df26a86625"},"properties":{"token":{"type":"string"}},"required":["token"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"data":"<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"150\" height=\"50\" viewBox=\"0,0,150,50\"><path d=\"M5 31 ..."}}}}}}}},"/rest/auth-service/signin":{"post":{"tags":["auth-service"],"summary":"Signin user (temp password)","description":" it(\"Activate corporate user\", async () => {    let data = {      header: {        id: 111,        version: config.apiVersion,        service: \"auth-service\",        method: \"activate\"      },      data: {        user_id: global.refUserDepended.id,        code: global.refUserDepended.activateCode      }    };    const res = await sendRequest(data);    res.body.header.should.have.deep.property(\"status\", \"OK\");    let usr = await db.user.findOne({      where: { id: global.refUserDepended.id }    });    usr.dataValues.should.have.deep.property(\"activated\", true);  });  Login of user under realm session","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"}],"requestBody":{"content":{"application/json":{"summary":"Signin user (temp password)","schema":{"type":"object","example":{"login":"corp@test.ru","password":"Passw0rd!#"},"properties":{"login":{"type":"string"},"password":{"type":"string"}},"required":["login","password"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true,"token":"72b7264facab7b6425b66b5fed3b16ae5fd72e79f84d81bcbdf2235ada8ab8a9d78507cbf33b9154caf9","temp_pass":true}}}}}}}},"/rest/auth-service/signinSecondStage":{"post":{"tags":["auth-service"],"summary":"Second stage for signin (temp password)","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"72b7264facab7b6425b66b5fed3b16ae5fd72e79f84d81bcbdf2235ada8ab8a9d78507cbf33b9154caf9","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Second stage for signin (temp password)","schema":{"type":"object","example":{"temp_pass_dialog":true},"properties":{"temp_pass_dialog":{"type":"boolean"}},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"otpRequred":true,"operationId":"59dbcae8-9981-40fc-903f-f00987502c0c","transport":"test","operation":{"temp_pass_dialog":true}}}}}}}}},"/rest/auth-service/setPassword":{"post":{"tags":["auth-service"],"summary":"Sign out user","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"72b7264facab7b6425b66b5fed3b16ae5fd72e79f84d81bcbdf2235ada8ab8a9d78507cbf33b9154caf9","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Sign out user","schema":{"type":"object","example":{"password":"Passw0rd!#"},"properties":{"password":{"type":"string"}},"required":["password"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/auth-service/signout":{"post":{"tags":["auth-service"],"summary":"Signin user through child realm","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"72b7264facab7b6425b66b5fed3b16ae5fd72e79f84d81bcbdf2235ada8ab8a9d78507cbf33b9154caf9","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Signin user through child realm","schema":{"type":"object","example":{"token":"72b7264facab7b6425b66b5fed3b16ae5fd72e79f84d81bcbdf2235ada8ab8a9d78507cbf33b9154caf9"},"properties":{"token":{"type":"string"}},"required":["token"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/auth-service/acceptCookie":{"post":{"tags":["auth-service"],"summary":"Accept cookie","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Accept cookie","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/auth-service/changePassword":{"post":{"tags":["auth-service"],"summary":"Change password: Passwords do not match","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"}],"requestBody":{"content":{"application/json":{"summary":"Change password: Passwords do not match","schema":{"type":"object","example":{"password":"Passw0rd","new_password":"Passw0rd#!"},"properties":{"password":{"type":"string"},"new_password":{"type":"string"}},"required":["password","new_password"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}}}}}},"/rest/auth-service/changeSecretQuestion":{"post":{"tags":["auth-service"],"summary":"Successful user secret question change","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Successful user secret question change","schema":{"type":"object","example":{"secret_question":"Question","secret_answer":"Answer"},"properties":{"secret_question":{"type":"string"},"secret_answer":{"type":"string"}},"required":["secret_question","secret_answer"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/auth-service/changePhone":{"post":{"tags":["auth-service"],"summary":"Change phone","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Change phone","schema":{"type":"object","example":{"new_phone":"202-555-0140"},"properties":{"new_phone":{"type":"string"}},"required":["new_phone"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"otpRequred":true,"operationId":"d8202655-00cc-43ae-9fe0-6d95f07059c2","transport":"test","operation":{"new_phone":"202-555-0140"}}}}}}}}},"/rest/auth-service/changeToCorporate":{"post":{"tags":["auth-service"],"summary":"Change to corporate","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Change to corporate","schema":{"type":"object","example":{},"properties":{},"required":[]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true,"res":[1]}}}}}}}},"/rest/auth-service/getReferals":{"post":{"tags":["auth-service"],"summary":"Get referals","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Get referals","schema":{"type":"object","example":{},"properties":{"start":{"type":"integer"},"limit":{"type":"integer"}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"list":[],"count":0}}}}}}}},"/rest/auth-service/googleAuthGenerateQR":{"post":{"tags":["auth-service"],"summary":"2FA Google generate QR","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"}],"requestBody":{"content":{"application/json":{"summary":"2FA Google generate QR","schema":{"type":"object","example":{"login":"corp@test.ru"},"properties":{"login":{"type":"string"}},"required":["login"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true,"qr_code":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJQAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAAATOSURBVO3BQY...","secret_key":"NFPD44DEHY"}}}}}}}},"/rest/auth-service/googleAuthVerify":{"post":{"tags":["auth-service"],"summary":"2FA Google Verify Method","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"}],"requestBody":{"content":{"application/json":{"summary":"2FA Google Verify Method","schema":{"type":"object","example":{"login":"corp@test.ru","user_token":"2ER6T5"},"properties":{"login":{"type":"string"},"user_token":{"type":"string"}},"required":["login","user_token"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}}}}}},"/rest/auth-service/avatarUpload":{"post":{"tags":["auth-service"],"summary":"Legal confirmation","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Legal confirmation","schema":{"type":"object","example":{"files":[{"name":"avatar.png","data":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8yNy8xMxoI2XgAAAKSSURBVHic7dyxjsIwFABBfOL/f9lXXIu2cC44kJk+wlisHsVTxpxzPoCXfnYfAK5MIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AHczxlh+1ov4388EgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgWCbd9GRrdx3fqYN4GNMEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAgCgXDrdfcdK+ur6+erZ119zpr8HxMEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEwphfsrb57s3cT7o2d7POBIEgEAgCgSAQCAKBIBAIAoEgEAgCgSAQCAKBIBAIAoEgEAiXW3e3mn0Nn/Ri7zOZIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBALhtGXFb1863LHMt+IO93LmdzRBIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIDx3H+BujmyefsoG8Tc5LZDVH4IfwT1d8b28j4e/WJAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQCQSAQBAJBIBAEAkEgEAQC4bn7AP9ljLH7CJfkXo4xQSAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBMKYc87dh4CrMkEgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCAIBIJAIAgEgkAgCASCQCD8AkUtP407XiL1AAAAAElFTkSuQmCC"}]},"properties":{"files":{"type":"array","items":{"name":{"type":"string"},"data":{"type":"string"}}}},"required":["files"]}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true}}}}}}}},"/rest/auth-service/updateProfile":{"post":{"tags":["auth-service"],"summary":"Generate verification code","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a","description":"User's token"}],"requestBody":{"content":{"application/json":{"summary":"Generate verification code","schema":{"type":"object","example":{"first_name":"firstname","last_name":"lastname"},"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","example":{"success":true,"res":[1]}}}}}}}},"/rest/auth-service/uploadDocument":{"post":{"tags":["auth-service"],"summary":"Get white list countries","description":"","produces":["application/json"],"parameters":[{"in":"header","name":"authorization","schema":{"type":"string"},"value":"bearer32c2f6be17a228de424a85c9be3851d1613144ae03cf76510e8","required":true},{"in":"query","name":"id","schema":{"type":"string"},"required":true,"value":111,"description":"Request ID"},{"in":"query","name":"version","schema":{"type":"string"},"required":true,"value":"0.1.1","description":"API current version"},{"in":"query","name":"token","schema":{"type":"string"},"required":true,"value":"2f2f7e3c74fbd84fae46f1f64a27eab2cc8076fca42433457de734ed1ee125da4d1cb9cf18693457dc0a"
[...]
